// header
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');
$background_second: #27272A;
$background_main: #202124;
$main_color: #FFFFFF;
$border_main: #414144;

.app{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $main_color;
  background: $background_main;
  min-height: 100vh;
}
.app_wrapper{
  display: flex;
  flex-wrap: wrap;
}
.header{
  background-color: $background_second;
  height: 44px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  border-bottom: 1px solid $border_main;
}
.header_title{
  color: #A1A1AA;
  margin-left: 28px;
  cursor: pointer;
  font-size: 14px;
}
.header_title_active{
  color: $main_color;
  margin-left: 28px;
  cursor: pointer;
  font-size: 14px;
  height: 42px;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
}
// sidebar
.sidebar{
  padding-top: 8px;
  padding-left: 22.75px;
  height: 100%;
  width: 211.25px;
  min-height: calc(100vh - 44px - 8px);
  background-color: $background_second;
  border-right: 1px solid $border_main;
}